<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
  <div class="my-auto">
    <h2 class="mb-5">Skills</h2>
    <div *ngIf="!isEditing">
      <div *ngFor="let skillGroup of skillsContent.skillGroups container">
        <div class="subheading mb-3 mt-3" >{{skillGroup.skillGroupName}}</div>

        <ul class="list-inline list-icons row">
          <li *ngFor="let skill of skillGroup.skills" class="list-inline-item">
            <i class="{{skill.devicon}}" ></i><span  class=list-inline-item-description>{{skill.skillName}}:{{skill.term}}</span>
          </li>
        </ul>  
      </div>
    </div>

    <div *ngIf="isEditing" class="container" [formGroup]="profileForm">
      <div class="row">
        <div class="col-12">Skill Group</div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-5">Skill Icon(Divicon)</div>
        <div class="col-3">Skill Name</div>
        <div class="col-3">Term</div>
      </div>
      <div formGroupName='skillsContent'>
        <div formArrayName='skillGroups'>

          <div *ngIf="profileForm.controls.skillsContent.controls.skillGroups.controls.length === 0">
            <div class="row">
              <div class="col-11"></div>
              <div class="col-1" style="padding: 0;">
                <app-input-add-remove [targetArrayForm]="profileForm.controls.skillsContent.controls.skillGroups" [newObject]="newSkillGroup"></app-input-add-remove>
              </div>
            </div>
          </div>

          <div *ngFor="let skillGroup of profileForm.controls.skillsContent.controls.skillGroups.controls; let i=index">
            <div [formGroupName]="i">
              <div class="row">
                <input type="text" class="form-control col-11" placeholder="Recipient's username" formControlName="skillGroupName">
                <div class="col-1" style="padding: 0;">
                  <app-input-add-remove [targetArrayForm]="profileForm.controls.skillsContent.controls.skillGroups" [targetArrayIndex]="i" [newObject]="newSkillGroup"></app-input-add-remove>
                </div>
              </div>
              <div formArrayName='skills'>

                <div *ngIf="skillGroup.controls.skills.controls.length === 0">
                  <div class="row">
                    <div class="col-11"></div>
                    <div class="col-1" style="padding: 0;">
                      <app-input-add-remove [targetArrayForm]="skillGroup.controls.skills" [newObject]="newSkillDescription"></app-input-add-remove>
                    </div>
                  </div>
                </div>

                <div *ngFor="let skill of skillGroup.controls.skills.controls; let j=index">
                  <div class="row" [formGroupName]="j">
                    <div class="col-1"></div>
                    <input type="text" class="form-control col-5" placeholder="Skill Icon" formControlName="devicon">
                    <input type="text" class="form-control col-3" placeholder="Skill" formControlName="skillName">
                    <input type="text" class="form-control col-2" placeholder="Term" formControlName="term">
                    <div class="col-1" style="padding: 0;">
                      <app-input-add-remove [targetArrayForm]="skillGroup.controls.skills" [targetArrayIndex]="j" [newObject]="newSkillDescription"></app-input-add-remove>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
