<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
  <div class="my-auto">
    <h2 class="mb-5">Skills</h2>
    <div *ngIf="!isEditing">
      <div *ngFor="let skillGroup of skillsContent.skillGroups container-fluid">
        <div class="subheading mb-3 mt-3" >{{skillGroup.skillGroupName}}</div>
  
        <ul class="list-inline list-icons row">
          <li *ngFor="let skill of skillGroup.skills" class="list-inline-item">
            <i class="{{skill.devicon}}" ></i><span  class=list-inline-item-description>{{skill.skillName}}:{{skill.term}}</span>
          </li>
        </ul>  
      </div>
    </div>

    <div *ngIf="isEditing" class="container-fluid">
      <div class="row">
        <div class="col-12">Skill Group</div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-5">Skill Icon(Divicon)</div>
        <div class="col-3">Skill Name</div>
        <div class="col-3">Term</div>
      </div>
      <div *ngFor="let skillGroup of skillsContent.skillGroups; index as i" class="container-fluid">
        <div class="row">
          <input value="{{skillGroup.skillGroupName}}" type="text" class="form-control col-11" placeholder="Recipient's username">
          <div class="col-1" style="padding: 0;">
            <app-input-add-remove [targetArray]="skillsContent.skillGroups" [targetArrayIndex]="i" [newObject]="newSkillGroup"></app-input-add-remove>
          </div>
        </div>

        <div *ngFor="let skill of skillGroup.skills; index as i" class="row">
          <div class="col-1"></div>
          <input value="{{skill.devicon}}" type="text" class="form-control col-5" placeholder="Skill Icon">
          <input value="{{skill.skillName}}" type="text" class="form-control col-3" placeholder="Skill">
          <input value="{{skill.term}}" type="text" class="form-control col-2" placeholder="Term">
          <div class="col-1" style="padding: 0;">
            <app-input-add-remove [targetArray]="skillGroup.skills" [targetArrayIndex]="i" [newObject]="newSkillDescription"></app-input-add-remove>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
