<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
  <div class="my-auto">
    <h2 class="mb-5">Skills</h2>
    <div *ngFor="let skillGroup of skillsContent.skillGroups">
      <div class="subheading mb-3 mt-3">{{skillGroup.skillGroupName}}</div>
      <ul class="list-inline list-icons">
        <li *ngFor="let skill of skillGroup.skills" class="list-inline-item">
          <i class="{{skill.devicon}}"></i><span class=list-inline-item-description>{{skill.skillName}}:{{skill.term}}</span>
        </li>
      </ul>
    </div>
  </div>
</section>
