<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
  <div class="my-auto">
    <h2 class="mb-5">Interests</h2>
      <div *ngIf="!isEditing">
        <p class="mb-0" *ngFor="let description of interestsContent.descriptions">
          {{description}}
        </p>    
      </div>

      <div *ngIf="isEditing">
        <div class="continer-fluid">
          <div class="row">
            <div class="col-12">Hobbies and Interests</div>
          </div>

          <div class="row" *ngFor="let description of interestsContent.descriptions; index as i">
            <input value="{{description}}" type="text" class="form-control col-11" placeholder="Interest">
            <div class="col-1" style="padding: 0;">
              <app-input-add-remove [targetArray]="interestsContent.descriptions" [targetArrayIndex]="i" [newObject]="newDescription"></app-input-add-remove>
            </div>
            <div></div>
          </div>
        </div>
      </div>
  </div>
</section>