<!-- <app-header></app-header> -->
<div *ngIf=!isPage>
  <app-modules-not-found></app-modules-not-found>
</div>
<div *ngIf=isPage>
  <div *ngIf="isLoading">
    <app-modules-page-loading></app-modules-page-loading>
  </div>
  <app-profile-left-sidebar
    *ngIf="profileForm"
    [isEditing]="isEditing"
    [profileForm]="profileForm"
    (clickEditProfileStart)="handleClickEditProfileStart()"
    (clickEditProfileAbort)="handleClickEditProfileAbort()"
    (clickEditProfileUpdate)="handleClickEditProfileUpdate()"
    (clickAddAdditionalProfile)="handleAddAdditionalProfile()"
    (clickRemoveAdditionalProfile)="handleRemoveAdditionalProfile($event)"
  ></app-profile-left-sidebar>
  <div *ngFor="let profileContent of profileContents">
    <div class="profiles">
      <app-profile-about
        [isEditing]="isEditing"
        [aboutContent]="profileContent.aboutContent"
        [profileForm]="profileForm"
        (keyupUserName)="handleKeyupUserName($event)"
      ></app-profile-about>
      <app-profile-education
        [isEditing]="isEditing"
        [educationsContent]="profileContent.educationsContent"
        [profileForm]="profileForm">
      </app-profile-education>
      <app-profile-skills
        [isEditing]="isEditing"
        [skillsContent]="profileContent.skillsContent"
        [profileForm]="profileForm">
      </app-profile-skills>
      <app-profile-projects
        [isEditing]="isEditing"
        [projectsContent]="profileContent.projectsContent"
        [profileForm]="profileForm">
      </app-profile-projects>
      <app-profile-interests
        [isEditing]="isEditing"
        [interestsContent]="profileContent.interestsContent"
        [profileForm]="profileForm">
      </app-profile-interests>
      <app-profile-additional-profiles
        [isEditing]="isEditing"
        [additaionProfilesContent]="profileContent.additaionProfilesContent"
        [profileForm]="profileForm">
      </app-profile-additional-profiles>
    </div>
  </div>
</div>
