<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center banner-background-image">
    <div class="col-md-5 p-lg-5 mx-auto my-5 banner-background-text">
      <h1 class="display-10 fw-normal">Show Your Profile</h1>
      <p class="lead fw-normal">The best way for showing your self</p>
      <a
        class="btn btn-outline-secondary"
        (click)="goToProfile({})"
      >Go Example</a>
    </div>
    <div class="shadow-sm d-none d-md-block"></div>
    <div class="product-device-2 shadow-sm d-none d-md-block"></div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="me-md-3 py-3 px-3 p-md-5 px-md-5 text-center overflow-hidden blog-background-image">
      <div class="my-3 py-3 blog-background-text">
        <h2 class="display-5">Your Own Blog</h2>
        <p class="lead">Leave your Idea and link it your personal chat room</p>
        <a
          class="btn btn-outline-secondary"
          (click)="goToBlogPrologue({})"
        >Go Example</a>
      </div>
    </div>
    <div class="me-md-3 py-3 px-3 p-md-5 px-md-5 text-center overflow-hidden video-chat-image">
      <div class="my-3 py-3 video-chat-text">
        <h2 class="display-5">Video Chat</h2>
        <p class="lead">Sometimes it is faster than just leaving Comment</p>
        <a
          class="btn btn-outline-secondary"
          (click)="goToTalk({})"
        >Go Example</a>
      </div>
    </div>
  </div>
</main>

<!-- <footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
      <small class="d-block mb-3 text-muted">&copy; 2017-2020</small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Cool stuff</a></li>
        <li><a class="link-secondary" href="#">Random feature</a></li>
        <li><a class="link-secondary" href="#">Team feature</a></li>
        <li><a class="link-secondary" href="#">Stuff for developers</a></li>
        <li><a class="link-secondary" href="#">Another one</a></li>
        <li><a class="link-secondary" href="#">Last time</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Resource name</a></li>
        <li><a class="link-secondary" href="#">Resource</a></li>
        <li><a class="link-secondary" href="#">Another resource</a></li>
        <li><a class="link-secondary" href="#">Final resource</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Business</a></li>
        <li><a class="link-secondary" href="#">Education</a></li>
        <li><a class="link-secondary" href="#">Government</a></li>
        <li><a class="link-secondary" href="#">Gaming</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Team</a></li>
        <li><a class="link-secondary" href="#">Locations</a></li>
        <li><a class="link-secondary" href="#">Privacy</a></li>
        <li><a class="link-secondary" href="#">Terms</a></li>
      </ul>
    </div>
  </div>
</footer> -->
