<div class="top-nav-block"></div>

<nav
  class="header-navbar navbar navbar-expand-lg selected-header"
>
  <div class="collapse navbar-collapse">
    <a
      *ngIf="router.url.includes('/meeting')"
      class="navbar-brand selected-header-link d-flex"
      (click)="goToMeeting({})"
    ><span class="mx-auto">Meeting</span></a>

    <a
      *ngIf="router.url.includes('/board')"
      class="navbar-brand selected-header-link d-flex"
      (click)="goToMeeting({})"
    ><span class="mx-auto">Board</span></a>
  </div>
</nav>

<nav
  class="header-navbar navbar navbar-expand-lg navbar-dark bg-dark fixed-top header-common"
  [class.main-header]="router.url.includes('/main')"
  [class.meeting-header]="router.url.includes('/meeting')"
>
  <button class="navbar-toggler nav-collapse-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTopCollapse" aria-controls="navbarTopCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTopCollapse">
    <a
      *ngIf="!router.url.includes('/meeting')"
      class="navbar-brand header-link"
      (click)="goToMeeting({})"
    >Meeting</a>

    <a
      *ngIf="!router.url.includes('/board')"
      class="navbar-brand header-link"
      (click)="goToMain({})"
    >Board</a>

    <!-- Right Side -->
    <div style="margin-left:auto;margin-right:12px">
      <div class="input-group">
        <input
          [value]="searchValue"
          (keyup)="changeSearch($event)"
          (blur)="blurSearchListDropDown($event)"
          class="search-input form-control ms-2"
          type="search"
          list="staticUserIds"
          placeholder="Search"
          aria-label="Search"
        >
  
        <div
          class="dropdown-menu search-drop-down"
          [class.show]="searchValue&&!isSearchValueSelected"
        >
          <div
            *ngFor="let result of searchResults | async"
            class="d-flex m-2"
            (click)="setSearchValue(result.userName)"
          >
            <img class="rounded-circle search-profile mx-2" [src]="getSearchProfileImage(result)">
            <a class="mx-2">
              {{result.userName}}
              <br>
              ({{result.aboutContent.email}})
            </a>
          </div>
        </div>
    
        <div [class]="searchValue&&isSearchValueSelected?'dropdown-menu show':'dropdown-menu'">
          <a
            class="dropdown-item"
            (click)="goToProfile({userName:searchValue})"
          >{{searchValue}}'s Profile</a>
          <a
            class="dropdown-item"
            (click)="goToBlogPrologue({userName:searchValue})"
          >{{searchValue}}'s Blog</a>
          <a
            class="dropdown-item"
            (click)="goToMeeting({userName:searchValue})"
          >{{searchValue}}'s Meeting</a>
        </div>
      </div>
    </div>

    <button
      *ngIf="authService.isSignedIn()"
      class="btn btn-secondary sign-in-out-button"
      (click)="authService.onSignOut()"
    >Sign Out</button>
    <button
      *ngIf="!authService.isSignedIn()"
      routerLink="/sign-in"
      routerLinkActive="active"
      class="btn btn-secondary sign-in-out-button"
    >Sign In</button>
  </div>
</nav>
