<div *ngIf="!isPage">
  <app-not-found></app-not-found>
</div>
<div *ngIf="isPage">
  <app-blog-left-sidebar
    [isEditingPost]="isEditingPost"
    [isEditingCategory]="isEditingCategory"
    [categoryContentsForm]="categoryContentsForm"
  ></app-blog-left-sidebar>
  <div class="blog-post">
    <form *ngIf="postContentsForm" [formGroup]="postContentsForm">
      <section class="post-showing-section">
        <div *ngIf="isCreatingPost">
          <Button
            class="btn btn-sm btn-success mr-2"
            *ngIf="authService.isSignedIn() && isEditingPost"
            (click)="handleClickEditPostCreateUpdate()"
          >Update</Button>
          <Button
            class="btn btn-sm btn-danger mr-2"
            *ngIf="authService.isSignedIn() && isEditingPost"
            (click)="handleClickEditPostCreateCancel()"
          >Cancel</Button>
        </div>

        <div *ngIf="!isCreatingPost" class="row">
          <div class="col-8">
            <Button
              class="btn btn-sm btn-info mr-2"
              *ngIf="authService.isSignedIn() && !isEditingPost"
              (click)="clickPostEdit()"
            >Edit Post</Button>
            <Button
              class="btn btn-sm btn-success mr-2"
              *ngIf="authService.isSignedIn() && isEditingPost"
              (click)="handleClickEditPostUpdate()"
            >Update</Button>
            <Button
              class="btn btn-sm btn-warning mr-2"
              *ngIf="authService.isSignedIn() && isEditingPost"
              (click)="handleClickEditPostDelete()"
            >Remove</Button>
            <Button
              class="btn btn-sm btn-danger mr-2"
              *ngIf="authService.isSignedIn() && isEditingPost"
              (click)="clickPostEditCancel()"
            >Cancel</Button>
          </div>
          <Button
            class="btn btn-sm btn-info"
            style="margin-left:auto;"
            *ngIf="authService.isSignedIn() && !isEditingPost"
            (click)="routerHelper.goToBlogCategoryNewPost(params,postContentsForm.value.categoryId)"
          >Create New Post</Button>
        </div>
        <div *ngIf="!isEditingPost">
          <div class="form-row">
            <div class="col-9">
              <span
                class="post-show-title-col blog-link"
                (click)="routerHelper.goToBlogPost(params,postContentsForm.controls.id.value)"
              >
                {{postContentsForm.controls.postTitle.value}}
              </span>
              <span>| </span>
              <span
                class="post-show-title-category-col blog-link"
                (click)="routerHelper.goToBlogCategory(params,postContentsForm.controls.categoryId.value)"
              >{{getCategoryTitle(postContentsForm.controls.categoryId.value)}}</span>
            </div>
            <div class="col-3">
              <div class="post-show-title-date">{{dataTransferHelper.numberToDateString(postContentsForm.controls.createdAt.value)}}</div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-12 post-edit-content-col">
              <markdown
                emoji
                lineNumbers
                ngPreserveWhitespaces
                data={{postContentsForm.controls.postMarkdown.value}}
              >
              </markdown>
            </div>
          </div>
        </div>
      </section>

      <section class="post-editing-section">
        <div
          *ngIf="hasNullPostTitleError"
          class="post-edit-title-col-null-error mt-3"
        >Please Insert Title</div>
        <div class="d-flex flex-wrap" *ngIf="isEditingPost">
          <div class="post-edit-col">
            <input
              type="text"
              class="form-control post-editarea"
              formControlName="postTitle"
              placeholder="Title"
            />
            <textarea
              class="form-control post-editarea"
              rows="{{getPostMarkdownLines()}}"
              formControlName="postMarkdown"
              placeholder="Content"
            ></textarea>
          </div>

          <div class="post-edit-preview-col">
            <div
              class="post-edit-title-col post-link"
            >{{postContentsForm.controls.postTitle.value}}</div>

            <div class="post-edit-content-col">
              <markdown
                emoji
                lineNumbers
                ngPreserveWhitespaces
                data={{postContentsForm.controls.postMarkdown.value}}
              >
              </markdown>
            </div>
          </div>
        </div>
      </section>
    </form>
  </div>
  <app-comment
    *ngIf="params.postId"
    [isEditingPost]="isEditingPost"
    [blogContents]="blogContents"
  ></app-comment>
</div>
