// rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {  
    // Default Collection Functions (can be overrided)
    function isOwner() {
      return resource.data.ownerId == request.auth.uid;
    }
    function isSignedIn() {
      return request.auth != null;
    }
    // Default All Collection Rull
    match /{document=**} {
      allow read;
      allow create: if isSignedIn();
      allow update: if isOwner();
	    allow delete: if isOwner();
    }
    match /profiles/{profileId} {function cascaded(){return null}}
    match /blogs/{blogId} {
      match /posts/{postId} {
        match /images/{imageId} {function cascaded(){return null}}
      }
      match /categories/{categoryId} {function cascaded(){return null}}
    	match /comments/{commentId} {function cascaded(){return null}}
    }
    match /talks/{talkId}{
    	match /{document=**} {
      	allow create, read, update, delete;
			}
      match /rooms/{roomId} {
        match /callerCandidates/{callerCandidatesId} {function cascaded(){return null}}
        match /calleeCandidates/{calleeCandidatesId} {function cascaded(){return null}}      
      }
    }
  }
}
