<div *ngIf="!isPage">
  <app-modules-not-found></app-modules-not-found>
</div>
<div
  *ngIf="isPage"
  class="talks"
>
  <div *ngIf="isLoading">
    <app-modules-page-loading style="color:'white'"></app-modules-page-loading>
  </div>
  <app-meeting-left-sidebar
    [isInRoom]="isInRoom"
    [isMobileDevice]="isMobileDevice"
    [isScreenSharing]="isScreenSharing"
    (clickLeaveRoom)="handleClickLeaveRoom()"
    (clickStartScreenSharing)="handleClickStartScreenSharing()"
    (clickStopScreenSharing)="handleClickStopScreenSharing()"
  ></app-meeting-left-sidebar>
  <div class="copy-to-clipboard">
    <button
      *ngIf="isInRoom"
      class="btn btn-secondary"
      (click)="copyToClipboard(createdRoomUrl)"
    >Copy Room URL</button>
    <span
      *ngIf="isCopiedToClipboard"
      class="badge badge-success ml-2"
    ><i class="fa fa-check-circle mr-1"></i>Copied!</span>
  </div>

  <video id="localVideo" #localVideo class="hidden-video" autoplay playsinline></video>
  <div id="videoBackground" #videoBackground>
    <div id="videoContainer" #videoContainer>
      <div id="localVideoGroup" #localVideoGroup class="d-flex">
        <video id="canvasVideo" #canvasVideo autoplay playsinline 
          [class.full-screen-zoom]="isFullScreen"
        ></video>
        <canvas id="localCanvas" #localCanvas
          [class.full-screen-zoom]="isFullScreen"
        ></canvas>
        <div id="localButtonGroup" #localButtonGroup class="video-button-group"
          [class.full-screen-zoom]="isFullScreen"
        >
          <button
            class="btn video-button fa mt-auto"
            [class.btn-danger]="isLocalVideoOn"
            [class.fa-eye-slash]="isLocalVideoOn"
            [class.btn-secondary]="!isLocalVideoOn"
            [class.fa-eye]="!isLocalVideoOn"
            (click)="clickLocalVideoToggle()"
          ></button>
          <button
            class="btn video-button fa mt-auto"
            [class.btn-danger]="isLocalAudioOn"
            [class.fa-microphone-slash]="isLocalAudioOn"
            [class.btn-secondary]="!isLocalAudioOn"
            [class.fa-microphone]="!isLocalAudioOn"
            (click)="clickLocalAudioToggle()"
          ></button>
          <button
            class="btn btn-secondary video-button fa fa-expand mt-auto"
            [class.fa-compress]="isFullScreen"
            (click)="toggleFullScreen(localVideoGroup)"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
