.talk-entrance {
  font-family: 'Open Sans', serif;
  padding: 1rem;
  color: white;
  background-color: #333333;
  border-bottom: 1px solid #dee2e6;
}

.entrance-title-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.3rem;
  padding-bottom: 0.3rem;
}

.entrance-title-col {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.room-list-top-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.3rem;
  padding-bottom: 0.3rem;
  border-bottom: grey solid 0.15rem;
}

.room-list-top-col {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}

.room-list-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.3rem;
  padding-bottom: 0.3rem;
  border-bottom: grey solid 0.1rem;
}

.room-list-col {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 0.9rem;
}

.user-in-room {
  font-size: 0.9rem;
  border: none;
}

.join-button {
  margin-left: auto;
  padding: 0 0.5rem;
  font-size: 0.9rem;
}
