<div data-scroll-index="0" class="get_in_tauch_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <app-modules-embeded-googlemap [width]="'100%'" [height]="'480px'" [zoom]="'12'" [address]="'芝2-16-3タイガーハウス 307'"></app-modules-embeded-googlemap>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="contact-title">Get in Touch</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="touch_form">
          <form action="#">
            <div class="row">
              <div class="col-md-6">
                <div class="single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                  <input type="text" placeholder="Your Name" >
                </div>
              </div>
              <div class="col-md-6">
                <div class="single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                  <input type="email" placeholder="Email" >
                </div>
              </div>
              <div class="col-md-12">
                <div class="single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                  <input type="email" placeholder="Subject" >
                </div>
              </div>
              <div class="col-md-12">
                <div class="single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                  <textarea name="" id="" cols="30" placeholder="Message" rows="10"></textarea>
                </div>
              </div>
              <div class="col-md-4" style="margin-bottom: 30px;">
                <div class="submit_btn wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">
                  <button class="boxed-btn3" type="submit">Send Message</button>
                </div>  
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="media contact-info">
          <span class="contact-info__icon"><i class="fa fa-home"></i></span>
          <div class="media-body">
            <h3>Minato-ku, Tokyo-to.</h3>
            <p>Shiba, 2-16-13</p>
          </div>
        </div>
        <div class="media contact-info">
          <span class="contact-info__icon"><i class="fa fa-tablet"></i></span>
          <div class="media-body">
            <h3>+81 070-4412-9459</h3>
            <p>Mon to Fri 9am to 6pm</p>
          </div>
        </div>
        <div class="media contact-info">
          <span class="contact-info__icon"><i class="fa fa-envelope"></i></span>
          <div class="media-body">
            <h3>support@colorlib.com</h3>
            <p>Send us your query anytime!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
