<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="workflow">
  <div class="my-auto">
    <h2 class="mb-5">Workflow</h2>

    <div class="subheading mb-3">Core Engine</div>
    <ul class="fa-ul mb-0">
      <li>
        <i class="fa-li fa fa-check"></i>
        Run exameple code</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Modify interface on exameple code</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Integrate Test on Local</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        System Test on Remote Dev Server</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Make Test Server</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Make API and Document</li>
    </ul>

    <div class="subheading mb-3">New Feature</div>
    <ul class="fa-ul mb-0">
      <li>
        <i class="fa-li fa fa-check"></i>
        Get Requirements</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Draw UI Design</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Ask Requirement Details</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Make UI Design</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Design/Migrate Database</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Make API with validation</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Fix bug on new feature</li>
    </ul>
  </div>
</section>