<div *ngIf=!isPage>
  <app-modules-not-found></app-modules-not-found>
</div>

<app-blog-category-new-post
  *ngIf="isCreatingPost"
  [isEditingPost]="true"
  [isCreatingPost]="true"
  [blogContents]="blogContents"
></app-blog-category-new-post>

<div *ngIf="!isCreatingPost">
  <app-blog-left-sidebar
    [isEditingPost]="isEditingPost"
    [isEditingCategory]="isEditingCategory"
    [categoryContents]="categoryContents"
    [categoryContentsForm]="categoryContentsForm"
    [blogContents]="blogContents"
  ></app-blog-left-sidebar>
  <div
    *ngIf="!isEditingCategory && isShowingPostList"
    class="blog-category"
  >
    <form *ngIf="postListForm" [formGroup]="postListForm">
      <div formArrayName="postList">
        <section class="container category-section">
          <div class="row category-title-row">
            <span class="col-8 category-title-col">
              {{selectedCategory.value.categoryTitle}}
              ({{selectedCategory.value.postCreatedAtList.length + countChildPost()}})
            </span>
            <div style="margin-left:auto;">
              <span
                class="btn btn-sm btn-warning"
                *ngIf="authService.isSignedIn() && !isEditingPost"
                (click)="routerHelper.goToBlogCategoryNewPost(params,params.categoryId)"
              >Create New Post</span>
            </div>
          </div>
          <div class="row category-top-row">
            <span class="col-6 category-top-col">Title</span>
            <span class="col-3 category-top-col">Category</span>
            <span class="col-3 category-top-col">Date</span>
          </div>
          <div *ngFor="let postContent of postListForm.controls.postList.controls; let i=index">
            <div class="row category-post-list-row">
              <span
                class="col-6 category-post-list-col blog-link"
                (click)="routerHelper.goToBlogPost(params,postContent.controls.id.value)"
              >{{postContent.controls.postTitle.value}}</span>
              <span
                class="col-3 category-post-list-col blog-link"
                (click)="routerHelper.goToBlogCategory(params,postContent.controls.categoryId.value)"
              >{{getCategoryTitle(postContent.controls.categoryId.value)}}</span>
              <span class="col-3 category-post-list-col">{{dataTransferHelper.numberToDateString(postContent.controls.createdAt.value)}}</span>
            </div>
          </div>

          <div class="d-flex">
            <mat-paginator
              class="mx-auto pt-3 post-page-list"
              [length]="postCreatedAtList.length"
              [pageIndex]="pageIndex"
              [pageSize]="pageSize"
              [pageSizeOptions]="[1, 5, 10, 20]"
              (page)="changePageList($event)">
            </mat-paginator>
          </div>
        </section>
      </div>
    </form>
  </div>
</div>
