.blog-category {
  font-family: 'Open Sans', serif;
  padding: 1rem;
  color: white;
  background-color: #333333;
  border-bottom: 1px solid #dee2e6;
  min-height: calc(100vh - 56px);
}

@media (min-width: 992px) {
  .blog-category {
    padding-left: 18rem;
  }
}

section.category-section {
  margin-left: 0px;
}

@media (min-width: 992px) {
  section.category-section {
    width: 700px;
  }
}

@media (min-width: 1200px) {
  section.category-section {
    width: 900px;
  }
}


.category-title-row {
  margin-bottom: 0.3rem;
  padding-bottom: 0.3rem;
}

.category-title-col {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.category-top-row {
  margin-bottom: 0.3rem;
  padding-bottom: 0.3rem;
  border-bottom: grey solid 0.15rem;
}

.category-top-col {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

.category-post-list-row {
  margin-bottom: 0.3rem;
  padding-bottom: 0.3rem;
  border-bottom: grey solid 0.1rem;
}

.category-post-list-col {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 0.8rem;
}

.post-page-list {
  background-color: #333333;
  color: white;
}
