<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
  <div class="my-auto">
    <h2 class="mb-5">Skills</h2>

    <div class="subheading mb-3">Programming Languages &amp; Tools</div>
    <ul class="list-inline list-icons">
      <li class="list-inline-item">
        <i class="devicons devicons-html5"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-css3"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-javascript"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-jquery"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-sass"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-java"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-python"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-typescript-plain"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-c-plain"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-bootstrap"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-angularjs-plain"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-npm"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-git-plain"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-git-plain"></i>
      </li>
      <li class="list-inline-item">
        <i class="devicon-docker-plain"></i>
      </li>
    </ul>

    <div class="subheading mb-3">Workflow</div>
    <ul class="fa-ul mb-0">
      <li>
        <i class="fa-li fa fa-check"></i>
         Core Logic on Server Application </li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Client GUI as a viewer</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Server - Client Message Controller</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Test and Debug</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Document</li>
    </ul>
  </div>
</section>