<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
  <div class="my-auto">
    <h2 class="mb-5">Skills</h2>

    <div class="subheading mb-3">Front End</div>
    <ul class="list-inline list-icons">
      <li class="list-inline-item">
        <i class="devicons devicons-html5"></i><span class=list-inline-item-description>HTML:2Years</span>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-css3"></i><span class=list-inline-item-description>CSS:2Years</span>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-javascript"></i><span class=list-inline-item-description>Javascript:2Years</span>
      </li>
      <li class="list-inline-item">
        <i class="devicon-typescript-plain"></i><span class=list-inline-item-description>Typescript:1Year</span>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-bootstrap"></i><span class=list-inline-item-description>Bootstrap:1.5Years</span>
      </li>
      <li class="list-inline-item">
        <i class="devicon-typescript-plain"></i><span class=list-inline-item-description>Nativescript:6Months</span>
      </li>
      <li class="list-inline-item">
        <i class="devicon-angularjs-plain"></i><span class=list-inline-item-description>Angular:1Year</span>
      </li>
      <li class="list-inline-item">
        <i class="devicon-vuejs-plain"></i><span class=list-inline-item-description>Vuejs:6Months</span>
      </li>
      <li class="list-inline-item">
        <i class="devicon-react-original"></i><span class=list-inline-item-description>React:6Months</span>
      </li>
    </ul>

    <div class="subheading mb-3">Back End</div>
    <ul class="list-inline list-icons">
      <li class="list-inline-item">
        <i class="devicon-ruby-plain"></i><span class=list-inline-item-description>Ruby:1Year</span>
      </li>
      <li class="list-inline-item">
        <i class="devicon-rails-plain"></i><span class=list-inline-item-description>Rails:1Year</span>
      </li>
      <li class="list-inline-item">
        <i class="devicon-nodejs-plain"></i><span class=list-inline-item-description>Nodejs:1Year</span>
      </li>
      <li class="list-inline-item">
        <i class="devicon-express-original"></i><span class=list-inline-item-description>Express:6Months</span>
      </li>
    </ul>
    
    <div class="subheading mb-3">Infrastructure</div>
    <ul class="list-inline list-icons">
      <li class="list-inline-item">
        <i class="devicon-amazonwebservices-original"></i><span class=list-inline-item-description>AWS:1.5Year</span>
      </li>
      <li class="list-inline-item">
        <i class="devicon-google-plain"></i><span class=list-inline-item-description>GCP:1Year</span>
      </li>
      <li class="list-inline-item">
        <i class="devicon-docker-plain"></i><span class=list-inline-item-description>DockerSwarm:1Year</span>
      </li>
      <li class="list-inline-item">
        <i class="devicon-nginx-original"></i><span class=list-inline-item-description>Nginx:6Months</span>
      </li>
    </ul>

    <div class="subheading mb-3">Data Science</div>
    <ul class="list-inline list-icons">
      <li class="list-inline-item">
        <i class="devicons devicons-python"></i><span class=list-inline-item-description>Tensorflow:6Months</span>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-python"></i><span class=list-inline-item-description>Python:6Months</span>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-java"></i><span class=list-inline-item-description>Hadoop:3Months</span>
      </li>
      <li class="list-inline-item">
        <i class="devicons devicons-java"></i><span class=list-inline-item-description>Java:6Months</span>
      </li>
    </ul>

    <div class="subheading mb-3">Project Managing</div>
    <ul class="list-inline list-icons">
      <li class="list-inline-item">
        <i class="devicon-git-plain"></i><span class=list-inline-item-description>Git:1.5Years</span>
      </li>
    </ul>

    <div class="subheading mb-3">Testing</div>
    <ul class="list-inline list-icons">
      <li class="list-inline-item">
        <i class="devicon-nodejs-plain"></i><span class=list-inline-item-description>Puppeteer:6Months</span>
      </li>
    </ul>
  </div>
</section>
