<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
  <div class="my-auto">
    <h2 class="mb-5">Projects</h2>

    <div *ngFor="let project of projectsContent.projects" class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">{{project.organization}}</h3>
        <div class="subheading mb-3 mt-3">{{project.projectName}}</div>
        <div>Members: {{project.memberNum}}</div>
        <div>Position: {{project.position}}</div>
        <div *ngFor="let taskDescription of project.taskDescriptions; index as i">Task Description{{i+1}}: {{taskDescription}}</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">
          {{project.startedAt.toDate().toLocaleString('en-us',{month:'short', year:'numeric'})}}
           - 
          {{project.finishedAt ? project.finishedAt.toDate().toLocaleString('en-us',{month:'short', year:'numeric'}) : 'Now'}}
        </span>
      </div>
    </div>
  </div>
</section>