<router-outlet></router-outlet>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">SanSoo Lab</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" hidden>
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown" hidden>
        <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <a class="dropdown-item" href="#" *ngFor="let item of items | async">
            {{item.name}}
          </a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ngx-auth-firebaseui-avatar *ngIf="isSignedIn()"
        (onSignOut)="clickSignOut()"
        [canEditAccount]="true"
      ></ngx-auth-firebaseui-avatar>
      <button *ngIf="!isSignedIn()" routerLink="/sign-in" routerLinkActive="active" class="btn btn-outline-success my-2 my-sm-0">Sign In</button>
    </form>
  </div>
</nav>
