.nav-collapse-button {
  margin: 8px 12px;
  width: 56px;
  background-color: #BD5D38;
}
#navbarSideCollapse.collapsed {
  margin-bottom: 0px;
}
#navbarSideCollapse.collapsing {
  padding: 20px 0px 10px 20px;
}
#navbarSideCollapse.collapse.show {
  padding: 20px 0px 10px 20px;
}

#sideNav {
  vertical-align:middle;
  position: fixed;
  background-color: #BD5D38 !important;
  padding: 0;
  z-index: 1;
  width: 50vw;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  scroll-behavior: smooth;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    padding: 0;
    top: 56px;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
    margin: auto auto 0;
    padding: 0.5rem;
    margin: auto;
  }
  #sideNav .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item:hover {
    cursor: pointer;
    opacity: 1;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}
