<app-meeting-left-sidebar
  [isInRoom]="false"
  (clickCreateRoom)="handleClickCreateRoom()"
></app-meeting-left-sidebar>
<div class="meetings">
  <div class="meeting-entrance container">
    <div class="entrance-title-row">
      <span class="entrance-title-col">Meeting Rooms</span>
    </div>
    <div class="room-list-top-row">
      <span class="col-6 room-list-top-col">Join Room</span>
      <div class="col-2 room-list-top-col d-flex">
        <span>Status</span>
      </div>
      <div class="col-3 room-list-top-col d-flex">
        <span class="ms-auto">Created</span>
      </div>
    </div>
    <div *ngFor="let roomContent of roomContents; index as i">
      <div
        *ngIf="roomContent.id"
        class="room-list-row"
      >
        <div class="room-list-col col-6 d-flex m-auto">
          <button
            class="btn btn-sm p-1"
            [class.btn-outline-warning]="roomContent.broadcastIds && countMember(roomContent) <= 10"
            [class.btn-outline-secondary]="countMember(roomContent) > 10"
            [disabled]="countMember(roomContent) > 10"
            (click)="goToRoom(roomContent.id)"
          >{{roomContent.id}}</button>
        </div>
        <div class="room-list-col col-2 d-flex">
          <span
            *ngIf="countMember(roomContent) === 0"
            class="badge bg-light text-dark user-in-room my-auto"
          >Empty</span>
          <span
            *ngIf="
              countMember(roomContent) <= 10
              && countMember(roomContent) > 0
            "
            class="badge bg-success user-in-room my-auto"
          >Waiting : {{roomContent.broadcastIds?.length}}</span>
          <span
            *ngIf="countMember(roomContent) > 10"
            class="badge bg-secondary user-in-room my-auto"
          >Full : {{roomContent.broadcastIds?.length}}</span>
        </div>
        <div class="room-list-col col-3 d-flex my-auto">
          <span
            class="ms-auto"
          >{{dataTransferHelper.numberToDateString(roomContent.createdAt||0)}}</span>
        </div>
        <div class="room-list-col col-1 d-flex my-auto">
          <span class="ms-auto">
            <button
              class="btn btn-sm btn-danger user-in-room"
              (click)="clickRemoveRoom(roomContent)"
            ><i class="fa fa-trash"></i></button>
          </span>
        </div>
      </div>
    </div>

    <div class="d-flex">
      <mat-paginator
        class="mx-auto pt-3 room-page-list"
        [length]="roomCreatedAtList.length"
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="[1, 5, 10, 20]"
        (page)="changePageList($event)">
      </mat-paginator>
    </div>
  </div>
</div>