.hidden-video {
  width: 0 !important;
  height: 0 !important;
  position: fixed !important;
}

#videoBackground {
  width: 100vw;
  height: calc(100vh - 56px);
  display: flex;
}

#videoContainer {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
