.nav-collapse-button {
  margin: 8px 12px;
  background-color: #BD5D38;
}

.collapsed {
  margin-bottom: 0px;
}

#navbarSideCollapse.collapsing {
  padding: 20px 0px 10px 20px;
}
#navbarSideCollapse.collapse.show {
  padding: 20px 0px 10px 20px;
}

#sideNav {
  position: fixed;
  background-color: #BD5D38 !important;
  padding: 0;
  z-index: 99;
  width: 100vw;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 300;
  padding: 0;
  color: white;
}

@media (min-width: 992px) {
  #navbarSideCollapse.collapse {
    padding: 20px 0px 10px 20px;
  }
}

@media (min-width: 992px) {
  #sideNav {
    position: fixed;
    padding-top: 56px;
    top: 0;
    left: 0;
    display: flex;
    color: #BD5D38;
    width: 17rem;
    height: 100vh;
  }
  
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

.nav-link-edit{
  height: 1.5rem;
  padding-top: 0;
  padding-bottom: 0;
}

.fa-rotate-225 {
  color: black;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}

.cateogory-move-up-down {
  font-size: 0.7rem;
  color: white;
  height: 50%;
  margin:auto 0;
}
