.blog-comment {
  font-family: 'Open Sans', serif;
  padding: 1rem;
  color: white;
  background-color: #333333;
  border-bottom: 1px solid #dee2e6;
}

@media (min-width: 992px) {
  .blog-comment {
    padding-left: 18rem;
  }
}

h4 {
  color: white;
}

.comment-add-button {
  margin: 0 0.3rem;
  padding: 0 0.3rem;
  margin-left:auto;
}

.comment-edit-button {
  margin: 0 0.3rem;
  padding: 0 0.3rem;
}

.comment-new-cancel-button {
  margin: 0 0.3rem;
  padding: 0 0.3rem;
}

.comment-list-row {
  margin-top: 1rem;
}

.comment-list-col-container {
  margin-left: 0;
  margin-right: 0;
}

.comment-list-col {
  margin: 0.3rem 1rem 0rem 1rem;
  border-bottom: grey solid 0.1rem;
}

.child-comment-tab {
  width: 2rem;
}

.fa-rotate-225 {
  color: black;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}

section.comment-section {
  margin-left: 0px;
}

@media (min-width: 992px) {
  section.comment-section {
    width: 700px;
  }
}

@media (min-width: 1200px) {
  section.comment-section {
    width: 900px;
  }
}

section.comment-editing-section {
  margin-left: 0px;
}

.comment-editarea {
  color: white;
  font-size: 1rem;
  border: solid #222222;
  background-color: #222222;
  margin-top: 10px;
}

.comment-edit-title-col-null-error {  
  color: red;
}

.comment-edit-content-col {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  background-color: #222222;
}

.comment-edit-col {
  width: 100%;
  padding-right: 1rem;
}

.comment-editarea {
  color: white;
  font-size: 0.8rem;
  border: solid #222222;
  background-color: #222222;
  margin-top: 10px;
}

.comment-edit-preview-col {
  width: 100%;
}

@media (min-width: 1200px) {
  .comment-edit-col {
    width: 50%;
    padding-right: 1rem;
  }
  
  .comment-edit-preview-col {
    width: 50%;
  }
}
