<div *ngIf="!isEditingPost">
  <div class="blog-comment" *ngIf="!isEditingPost && isShowingComment">
    <section
      class="p-3 d-flex flex-column"
      id="comment-edit"
      [class.comment-section]="isEditingCommentIds.length===0"
      [class.comment-editing-section]="isEditingCommentIds.length!==0"
    >
      <div class="d-flex">
        <div>Comments</div>
        <div
          *ngIf="!isCreatingComment"
          class="btn btn-warning comment-add-button"
          (click)="clickCommnetNew()"
        >Leave Comment</div>
      </div>

      <form
        *ngIf="commentContentsForm"
        [formGroup]="commentContentsForm"
      >
        <div formArrayName="commentContents">
          <div
            *ngFor="let commentContent of commentContentsForm.controls.commentContents.controls; let i=index"
          >
            <div
              *ngIf="!commentContent.controls.hidden.value"
              class="comment-list-row"
              [formGroupName]="i"
            >
              <div
                class="container-flex comment-list-col-container"
                [style]="'margin-left:'+commentContent.controls.deepCount.value*1.5+'rem'"
              >
                <div class="row">
                  <span class="col-7">{{commentContent.value.userName}}
                    <span
                      *ngIf="!isEditingCommentIds.includes(commentContent.value.id) && isOwner(commentContent.value.ownerId)"
                      (click)="clickCommentEdit(commentContent.value.id)"
                      class="btn btn-warning comment-edit-button"
                    >Edit</span>
                    <span
                      *ngIf="isEditingCommentIds.includes(commentContent.value.id)"
                      (click)="handleClickEditCommentUpdate(commentContent)"
                      class="btn btn-outline-secondary comment-edit-button"
                    >Update</span>
                    <span
                      *ngIf="isEditingCommentIds.includes(commentContent.value.id)"
                      (click)="clickCommentEditCancel(commentContent.value.id)"
                      class="btn btn-outline-secondary comment-edit-button"
                    >Cancel</span>
                    <span
                      *ngIf="isEditingCommentIds.includes(commentContent.value.id)"
                      (click)="handleClickEditCommentDelete(commentContent)"
                      class="btn btn-outline-secondary comment-edit-button"
                    >Delete</span>
                  </span>
                  <span class="col-4" style="text-align: right;">
                    {{dataTransferHelper.numberToDateString(commentContent.value.createdAt)}}
                  </span>
                  
                  <div
                    class="blog-link col-1"
                  >
                    <span>
                      <i
                        *ngIf="isCreatingComment && creatingCommentParentId===commentContent.value.id"
                        class="fa fa-commenting-o"
                      ></i>
                      <i
                        *ngIf="!isCreatingComment"
                        class="fa fa-commenting"
                        (click)="clickCommnetNew(commentContent.value.id)"
                      ></i>
                    </span>

                    <span
                      class="ml-3"
                      *ngIf="formHelper.countChildContent(commentContentsForm.controls.commentContents['controls'],commentContent)!==0"
                      (click)="formHelper.toggleCollapse(commentContentsForm.controls.commentContents['controls'],commentContent)"
                    >
                      <i
                        *ngIf="commentContent.controls.collapsed.value"
                        class="fa fa-caret-down"
                      ></i>
                      <i
                        *ngIf="!commentContent.controls.collapsed.value"
                        class="fa fa-caret-up"
                      ></i>  
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 comment-list-col">
                    <markdown
                      *ngIf=!isEditingCommentIds.includes(commentContent.value.id)
                      emoji
                      lineNumbers
                      ngPreserveWhitespaces
                      data={{dataTransferHelper.markDownPreprocess(commentContent.controls.commentMarkdown.value)}}>
                    </markdown>
                  </div>

                  <div
                    *ngIf="isEditingCommentIds.includes(commentContent.value.id)"
                    class="d-flex flex-wrap"
                    style="width:100%"
                  >
                    <div class="comment-edit-col">
                      <div
                        *ngIf="hasNullCommentContentError"
                        class="comment-edit-title-col-null-error mt-3"
                      >Please Insert Comment</div>
                      <textarea
                        class="form-control comment-editarea"
                        rows="{{getCommentMarkdownLines(commentContent)}}"
                        formControlName="commentMarkdown"
                        placeholder="Content"
                      ></textarea>
                    </div>

                    <div class="comment-edit-preview-col">
                      <div class="comment-edit-content-col">
                        <markdown
                          emoji
                          lineNumbers
                          ngPreserveWhitespaces
                          data={{dataTransferHelper.markDownPreprocess(commentContent.controls.commentMarkdown.value)}}
                        >
                        </markdown>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>
  </div>

  <div
    class="blog-comment"
    id="comment-new"
    *ngIf="isCreatingComment"
  >
    <section
      class="p-3 d-flex flex-column comment-editing-section"
    >
      <div class="d-flex">
        <div
          class="mr-2"
        >New Comment</div>
        <div
          class="btn btn-warning comment-new-cancel-button"
          (click)="clickCommentNewCancel()"
        >Cancel</div>
        <div
          class="btn btn-warning comment-new-cancel-button"
          (click)="clickCommentNewUpdate()"
        >Update</div>
      </div>
      <form
        *ngIf="creatingCommentForm"
        [formGroup]="creatingCommentForm"
      >
        <div
          class="d-flex flex-wrap"
          style="width:100%"
        >
          <div class="comment-edit-col">
            <div
              *ngIf="hasNullCommentContentError"
              class="comment-edit-title-col-null-error mt-3"
            >Please Insert Comment</div>
            <textarea
              class="form-control comment-editarea"
              rows="{{getCommentMarkdownLines(creatingCommentForm)}}"
              formControlName="commentMarkdown"
              placeholder="Content"
            ></textarea>
          </div>

          <div class="comment-edit-preview-col">
            <div class="comment-edit-content-col">
              <markdown
                emoji
                lineNumbers
                ngPreserveWhitespaces
                data={{dataTransferHelper.markDownPreprocess(creatingCommentForm.controls.commentMarkdown.value)}}
              >
              </markdown>
            </div>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>
