<div *ngIf="!isPage">
  <app-not-found></app-not-found>
</div>
<div *ngIf="isPage">
  <app-blog-left-sidebar
    [isEditingPost]="isEditingPost"
    [isEditingCategory]="isEditingCategory"
    [categoryContentsForm]="categoryContentsForm"
  ></app-blog-left-sidebar>
  <div class="blog-post">
    <form *ngIf="postContentsForm" [formGroup]="postContentsForm">
      <section class="post-showing-section">
        <Button
          class="btn btn-sm btn-info"
          *ngIf="authService.isSignedIn() && !isEditingPost"
          (click)="clickPostEdit()"
        >Edit Post</Button>
        <Button
          class="btn btn-sm btn-success"
          *ngIf="authService.isSignedIn() && isEditingPost"
        >Update</Button>
        <Button
          class="btn btn-sm btn-danger"
          *ngIf="authService.isSignedIn() && isEditingPost"
          (click)="clickPostEditCancel()"
        >Cancel</Button>
        <div *ngIf="!isEditingPost">
          <div class="form-row">
            <div class="col-9">
              <span
                class="post-title-col blog-link"
                (click)="routerHelper.goToBlogPost(params,postContentsForm.controls.id.value)"
              >
                {{postContentsForm.controls.postTitle.value}}
              </span>
              <span>| </span>
              <span
                class="post-title-category-col blog-link"
                (click)="routerHelper.goToBlogCategory(params,postContentsForm.controls.categoryId.value)"
              >{{getCategoryTitle(postContentsForm.controls.categoryId.value)}}</span>
            </div>
            <div class="col-3">
              <div style="text-align:right">{{dataTransferHelper.numberToDateString(postContentsForm.controls.createdAt.value)}}</div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-12" style="padding:0px">
              <markdown emoji lineNumbers ngPreserveWhitespaces>
                {{postContentsForm.controls.postMarkdown.value}}
              </markdown>  
            </div>
          </div>
        </div>
      </section>

      <section class="post-editing-section">
        <div class="d-flex flex-wrap" *ngIf="isEditingPost">
          <div class="post-edit-col">
            <input type="text" class="form-control post-editarea" formControlName="postTitle"/>
            <textarea class="form-control post-editarea" rows="{{getPostMarkdownLines()}}" formControlName="postMarkdown"></textarea>
          </div>
          
          <div class="post-show-col">
            <span
              class="post-title-col post-link"
            >{{postContentsForm.controls.postTitle.value}}</span>
            <markdown emoji lineNumbers ngPreserveWhitespaces data={{postContentsForm.controls.postMarkdown.value}}>
            </markdown>
          </div>
        </div>
      </section>
    </form>
  </div>
  <app-comment
    *ngIf="params.postId"
    [isEditingPost]="isEditingPost"
    [blogContents]="blogContents"
  ></app-comment>
</div>
