<div *ngIf=!isPage>
  <app-not-found></app-not-found>
</div>
<div>
  <form *ngIf="profileForm" [formGroup]="profileForm">
    <nav [hidden]="isLoading" class="navbar navbar-expand-lg navbar-dark bg-primary" id="sideNav">
      <!-- Collapse button -->
      <div style="margin:auto;">
        <div class="fixed-top">
          <button class="navbar-toggler nav-collapse-button fixed-top" type="button" data-toggle="collapse" data-target="#navbarSideCollapse" aria-controls="navbarSideCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <a>
          <span class="d-none d-lg-block">
            <img class="img-fluid img-profile rounded-circle mx-auto mb-2" (click)="handleClickStartUploadProfileImageSrc()" [src]="defaultSrc" alt="">
          </span>
        </a>
      
        <div class="collapse navbar-collapse" id="navbarSideCollapse">
          <ul class="navbar-nav resume-navbar">
            <div class="nav-item">
              <a class="nav-link">
                <Button
                  class="btn btn-sm btn-info"
                  *ngIf="authService.isSignedIn() && !isEditing"
                  (click)="handleClickEditProfileStart()"
                >Edit Profile</Button>
                <Button
                  class="btn btn-sm btn-success"
                  *ngIf="authService.isSignedIn() && isEditing"
                  (click)="handleClickEditProfileUpdate()"
                >Update</Button>
                <Button
                  class="btn btn-sm btn-danger"
                  *ngIf="authService.isSignedIn() && isEditing"
                  (click)="handleClickEditProfileAbort()"
                >Cancel</Button>
              </a>
            </div>

            <div class="nav-item">
              <a class="nav-link" (click)="routerHelper.scrollToProfile(params,'about')">About</a>
            </div>
            <div class="nav-item">
              <a class="nav-link" (click)="routerHelper.scrollToProfile(params,'education')">Education</a>
            </div>
            <div class="nav-item">
              <a class="nav-link" (click)="routerHelper.scrollToProfile(params,'skills')">Skills</a>
            </div>
            <div class="nav-item">
              <a class="nav-link" (click)="routerHelper.scrollToProfile(params,'projects')">Projects</a>
            </div>
            <div class="nav-item">
              <a class="nav-link" (click)="routerHelper.scrollToProfile(params,'interests')">Interests</a>
            </div>
            <div *ngIf="!isEditing">
              <li *ngFor="let additaionProfileContent of profileForm.value.additaionProfilesContent" class="nav-item">
                <a class="nav-link" (click)="routerHelper.scrollToProfile(params,additaionProfileContent.title)">{{additaionProfileContent.title}}</a>
              </li>  
            </div>

            <div *ngIf="isEditing">
              <div formGroupName="additaionProfilesContent">
                <div *ngFor="let additaionProfile of profileForm['controls'].additaionProfilesContent['controls']; let i=index">
                  <div class="row" [formGroupName]="i" style="margin: 0;">                    
                    <input type="text" class="form-control col-8" placeholder="Title" formControlName="title">
                    <div class="col-4" style="padding: 0;">
                      <div class="container">
                        <div class="row">
                          <button
                            class="btn btn-danger col-6"
                            (click)="handleRemoveAdditionalProfile(i)"
                          >
                            <i class="fa fa-trash"></i>
                          </button>
                          <button
                            class="btn btn-secondary col-6"
                            (click)="routerHelper.scrollToProfile(params,additaionProfile.value.title)"
                          >
                            <i class="fa fa-arrow-right"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="nav-item">
              <button
                class="btn btn-outline-dark btn-circle col-10"
                (click)="handleAddAdditionalProfile()"
              >
                Add New Category  <i class="fa fa-plus"></i>
              </button>
            </div>
          </ul>
        </div>
      </div>
    </nav>
  </form>
</div>
