<div *ngIf="!isPage">
  <app-not-found></app-not-found>
</div>
<app-header></app-header>
<div *ngIf="isPage" class="blog-background">
  <app-blog-post
    *ngIf="params.postId"
    [isEditingPost]="isEditingPost"
    [blogContents]="blogContents"
  ></app-blog-post>
  <app-blog-category
    *ngIf="params.categoryId"
    [isEditingCategory]="isEditingCategory"
    [blogContents]="blogContents"
  ></app-blog-category>
  <app-blog-prologue
    *ngIf="!params.postId && !params.categoryId"
    [isEditingPost]="isEditingPost"
    [blogContents]="blogContents"
  ></app-blog-prologue>
</div>
