<div class="blog-background">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="sideNav">
    <!-- Collapse button -->
    <div class="fixed-top" style="background-color: black;">
      <button class="navbar-toggler nav-collapse-button fixed-top" type="button" data-toggle="collapse" data-target="#navbarSideCollapse" aria-controls="navbarSideCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>  
    </div>

    <div class="collapse navbar-collapse" id="navbarSideCollapse">
      <ul class="navbar-nav blog-navbar" *ngIf="!isEditingPost">
        <div class="nav-item">
          <Button
            class="btn btn-sm btn-info"
            *ngIf="authService.isSignedIn() && !isEditingCategory"
            (click)="clickCategoryEdit()"
          >Edit Category</Button>
          <Button
            class="btn btn-sm btn-success"
            *ngIf="authService.isSignedIn() && isEditingCategory"
          >Update</Button>
          <Button
            class="btn btn-sm btn-danger"
            *ngIf="authService.isSignedIn() && isEditingCategory"
            (click)="clickCategoryEditCancel()"
          >Cancel</Button>
        </div>

        <form *ngIf="categoryContentsForm" [formGroup]="categoryContentsForm">
          <div formArrayName="categoryContents">
            <div *ngFor="let categoryContent of categoryContentsForm.controls.categoryContents.controls; let i=index">
              <li *ngIf="!categoryContent.controls.hidden.value" class="nav-item" [formGroupName]="i">            
                <div class="form-row">
                  <div *ngFor="let n of dataTransferHelper.numberToArray(categoryContent.controls.deepCount.value) ; let j=index" class="col-1" style="padding:0">
                    <i *ngIf="j==categoryContent.controls.deepCount.value-1" class="fa fa-chevron-up fa-rotate-225"></i>
                  </div>
                  <input *ngIf="isEditingCategory" type="text" class="form-control nav-link-edit col-8" formControlName="categoryTitle">
                  <a *ngIf="!isEditingCategory" class="nav-link col-8 category-link" (click)="routerHelper.goToCategory(params,categoryContent.controls.id.value)">
                    <i class="fa fa-caret-right"></i>  {{categoryContent.controls.categoryTitle.value}}
                  </a>
                  <div *ngFor="let n of dataTransferHelper.numberToArray(3 - categoryContent.controls.deepCount.value) ; let j=index" class="col-1"></div>
                  <div
                    *ngIf="countChildCategory(categoryContent.controls.id.value)!==0"
                    class="nav-link col-1 category-link"
                    (click)="formHelper.toggleCategoryCollapsed(categoryContentsForm.controls.categoryContents.controls,categoryContent)"
                  >
                    <i *ngIf="categoryContent.controls.collapsed.value" class="fa fa-caret-up"></i>
                    <i *ngIf="!categoryContent.controls.collapsed.value" class="fa fa-caret-down"></i>
                  </div>
                </div>
              </li>
            </div>
          </div>
        </form>
      </ul>
    </div>
  </nav>

  <div class="blog" *ngIf="!isEditingCategory && isShowingPostList">
    <section class="post-section p-3 d-flex flex-column">
      <form *ngIf="postListForm" [formGroup]="postListForm">
        <div formArrayName="postList">
          <div class="container-sm">
            <div class="row category-title-row">
              <div class="col-12" style="padding:0px">
                <span class="category-title-col">
                  {{selectedCategory.value.categoryTitle}}
                  ({{selectedCategory.value.postCount + countChildPost()}})
                </span>
              </div>
            </div>
            <div class="row post-title-row">
              <div class="col-6" style="padding:0px">
                <span class="post-list-title-col">Title</span>
              </div>
              <div class="col-3" style="padding:0px">
                <span class="post-list-title-col">Category</span>
              </div>
              <div class="col-2" style="padding:0px">
                <span class="post-list-title-col">Date</span>
              </div>
              <div class="col-1" style="padding:0px">
                <div class="post-list-title-col" style="text-align:right">Count</div>
              </div>
            </div>
            <div *ngFor="let postContent of postListForm.controls.postList.controls; let i=index">
              <div class="row post-list-row">
                <div class="col-6" style="padding:0px">
                  <span
                    class="post-list-col post-link"
                    (click)="routerHelper.goToPost(params,postContent.controls.id.value)"
                  >{{postContent.controls.postTitle.value}}</span>
                </div>
                <div class="col-3" style="padding:0px">
                  <span
                    class="post-list-title-col post-link"
                    (click)="routerHelper.goToCategory(params,postContent.controls.categoryId.value)"
                  >{{getCategoryTitle(postContent.controls.categoryId.value)}}</span>
                </div>  
                <div class="col-2" style="padding:0px">
                  <span class="post-list-col">{{dataTransferHelper.numberToDateString(postContent.controls.createdAt.value)}}</span>
                </div>
                <div class="col-1" style="padding:0px">
                  <div class="post-list-col" style="text-align:right">{{postContent.controls.readCount.value}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>
  </div>

  <!-- <app-post
    *ngIf="isShowingPostContents && !isEditingPost"
    [blogContents]="blogContents"
    [isEditingPost]="isEditingPost"
    [postContentsForm]="postContentsForm"
    (routerHelper.goToPost)params,="routerHelper.goToPost(params,$event)"
    (routerHelper.goToCategory)params,="routerHelper.goToCategory(params,$event)"
  />
  <app-category
    *ngIf="isShowingCategoryContents && !isEditingCategory"
    [blogContents]="blogContents"
    [isEditingCategory]="isEditingCategory"
    [postListForm]="postListForm"
    [selectedChildCategories]="selectedChildCategories"
    [selectedCategory]="selectedCategory"
    (routerHelper.goToPost)params,="routerHelper.goToPost(params,$event)"
    (routerHelper.goToCategory)params,="routerHelper.goToCategory(params,$event)"
  /> -->
  <div class="blog">
    <section class="post-section p-3 d-flex flex-column">
      <form *ngIf="postContentsForm" [formGroup]="postContentsForm">
        <div class="nav-item">
          <Button
            class="btn btn-sm btn-info"
            *ngIf="authService.isSignedIn() && !isEditingPost"
            (click)="clickPostEdit()"
          >Edit Post</Button>
          <Button
            class="btn btn-sm btn-success"
            *ngIf="authService.isSignedIn() && isEditingPost"
          >Update</Button>
          <Button
            class="btn btn-sm btn-danger"
            *ngIf="authService.isSignedIn() && isEditingPost"
            (click)="clickPostEditCancel()"
          >Cancel</Button>
        </div>

        <div *ngIf="!isEditingPost">
          <div class="form-row">
            <div class="col-10" style="padding:0px">
              <span
                class="post-title-col post-link"
                (click)="routerHelper.goToPost(params,postContentsForm.controls.id.value)"
              >
                {{postContentsForm.controls.postTitle.value}}
              </span>
              <span style="color:white">|</span>
              <span
                class="post-category-title-col post-link"
                (click)="routerHelper.goToCategory(params,postContentsForm.controls.categoryId.value)"
              >{{getCategoryTitle(postContentsForm.controls.categoryId.value)}}</span>
            </div>
            <div class="col-2">
              <!-- <div class="post-list-title-col" style="text-align:right">Count</div> -->
              <div style="text-align:right">{{dataTransferHelper.numberToDateString(postContentsForm.controls.createdAt.value)}}</div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-12" style="padding:0px">
              <markdown emoji lineNumbers ngPreserveWhitespaces>
                {{postContentsForm.controls.postMarkdown.value}}
              </markdown>  
            </div>
          </div>
        </div>

        <div class="form-row" *ngIf="isEditingPost">
          <div class="col-6">
            <input type="text" class="form-control blog-editarea" formControlName="postTitle"/>
            <textarea class="form-control blog-editarea" rows="{{getPostMarkdownLines()}}" formControlName="postMarkdown"></textarea>
          </div>
          
          <div class="col-6">
            <span
              class="post-title-col post-link"
            >{{postContentsForm.controls.postTitle.value}}</span>
            <markdown emoji lineNumbers ngPreserveWhitespaces data={{postContentsForm.controls.postMarkdown.value}}>
            </markdown>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>
